<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Player</title>
</head>
<body>

<form action="#" th:action="@{/players/update}" th:object="${player}" method="post">
    <div>
        <input type="hidden" th:field="*{id}" id="id">
    </div>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}" id="name"></div>
    <div>
        <label>Surname</label>
        <input type="text" th:field="*{surname}" id="surname"></div>
    <div>
        <label>Age</label>
        <input type="text" th:field="*{age}" id="age"></div>
    <div>
        <label>Height</label>
        <input type="text" th:field="*{height}" id="height"></div>
    <div>
        <label>Team</label>
        <input type="text" th:field="*{team}" id="team"></div>
    <div><input type="submit" value="Submit"></div>
</form>

<!--<div th:if="${successMessage}">-->
<!--  <div th:text="${successMessage}"></div>-->
<!--</div>-->

<!--<div th:if="${errorMessage}">-->
<!--  <div th:text="${errorMessage}"></div>-->
<!--</div>-->

</body>
</html>