<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Players</title>
</head>
<body>

<h2>Players from DB (memory)</h2>
<div>
    <a th:href="@{/players/form}">Add new player</a>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Height</th>
            <th>Team</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${allPlayersFromDB}">
            <td th:text="${player.name}"></td>
            <td th:text="${player.surname}"></td>
            <td th:text="${player.age}"></td>
            <td th:text="${player.height}"></td>
            <td th:text="${player.team}"></td>
            <td>
                <a th:href="@{/players/edit/{id}(id=${player.id})}">Edit</a>
                <a th:href="@{/players/delete/{id}(id=${player.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<div th:if="${successMessage}">-->
<!--  <div th:text="${successMessage}"></div>-->
<!--</div>-->

<!--<div th:if="${errorMessage}">-->
<!--  <div th:text="${errorMessage}"></div>-->
<!--</div>-->


</body>
</html>