<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Player</title>
</head>
<body>

<form>
    <div><input type="text" th:field="*{name}"></div>
    <div><input type="text" th:field="*{surname}"></div>
    <div><input type="text" th:field="*{age}"></div>
    <div><input type="text" th:field="*{height}"></div>
    <div><input type="text" th:field="*{team}"></div>
    <div><input type="submit" value="Submit"></div>
</form>
</body>
</html>